
$theme-colors: (
  "primary": #657480,
  "secondary": #10202F,
);

$enable-rounded: false;
$fa-font-path: "./webfonts";

@import "node_modules/bootstrap/scss/bootstrap";
@import "scss/fontawesome/fontawesome";
@import "scss/fontawesome/fa-brands";

.img-thumbnail {
  border: 0;
  padding: 0;
  background: transparent;
}

.logo {
  background: theme-color("primary");

  img {
    height: 100px;
    margin-top: 4px;
    margin-right: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.header {
  background-image: url('../imgs/BlanksDraft1-2.jpg');
  background-size: cover;
  height: 80vh;
  background-position: 50% 100%;
}

.listen {
  @extend .py-5;
}

.watch {
  background: theme-color("primary");
  @extend .pt-5;
}

.watch .video {
  @extend .pb-5;
}

.contact {
  @extend .py-3;
}

.links {
  text-align: center;
  @extend .py-3;
}
