
$theme-colors: (
  "primary": #657480,
  "secondary": #10202F,
);

$enable-rounded: false;
$fa-font-path: "./webfonts";

@import "node_modules/bootstrap/scss/bootstrap";
@import "scss/fontawesome/fontawesome";
@import "scss/fontawesome/fa-brands";

.img-thumbnail {
  border: 0;
  padding: 0;
  background: transparent;
}

.logo {
  background: theme-color("primary");

  img {
    height: 100px;
    margin-right: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@include media-breakpoint-up(md) {
  .logo {
    img {
      height: 100px;
      margin-right: 14px;
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}


.listen {
  @extend .py-5;
}

.watch {
  background: theme-color("primary");
  @extend .pt-5;
}

.watch .video {
  @extend .pb-5;
}

.contact {
  @extend .py-3;
}

.links {
  text-align: center;
  @extend .py-3;
}

#bandcamp-player iframe {
  border: 0;
  margin: 0 auto 1em auto;
  display: block;
  width: 280px;
  height: 480px;
}

@include media-breakpoint-up(md) {
  #bandcamp-player iframe {
    width: 600px;
    height: 828px;
  }
}

#bandcamp-player-exclusive iframe {
  border: 0;
  margin: 0 auto 1em auto;
  display: block;
  width: 280px;
  height: 830px;
}

@include media-breakpoint-up(md) {
  #bandcamp-player-exclusive iframe {
    width: 500px;
    height: 1030px;
  }
}
